.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: var(--header-bg);
  z-index: 30;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebarOpen {
  transform: translateX(0);
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo svg {
  max-height: 35px;
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    transform: translateX(0);
  }
}